li{
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }

  li a{
    color: #da4850;
    text-decoration: none;
    letter-spacing: 5px;
    word-spacing: 50px;
    font-family: Muli;
    letter-spacing: 1px;
}


.header{
    font-family: peace sans;
    text-align: center;
    position: relative;
    bottom: -250px;
    font-size: 40px;
    color: #da4850;
}

.meme{
    position: relative;
    right: -800px;
    bottom: -200px;
}

body {
    max-width: 1920px;
    max-height: 1024px;
    margin: auto;
    display: block;
  }