li{
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }

  li a{
    color: #da4850;
    text-decoration: none;
    letter-spacing: 5px;
    word-spacing: 50px;
    font-family: Muli;
    letter-spacing: 1px;
}
.about{
    position: relative;
    
    right: -750px;
    height: 50px;
    bottom: -20px;
    justify-content: center;
  }

h1{
    position: relative;
    bottom: -360px;
    right: -855px;
}



  p{
      position: relative;

    text-align: center;

     bottom: -350px;
     font-size: 20px;
     font-style: italic;
  }

h2{
    position: relative;
    bottom: -350px;
    text-align: center;
    font-family: muli;
    font-size: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    bottom: -190px;
}  