li{
    display: inline;
}

.head{
    height: 570px;
    
    max-width: 1890px;
    position: relative;
    bottom: -105px;
    background-color: rgb(218, 72, 80)
    
    
    
}  

h1{
    position: relative;
    bottom: -150px;
    left: 20px;
    font-size: 150px;
    font-family: Peace Sans;
    color: white;
    
}

h2{
    position: relative;
    bottom: -150px;
    font-size: 75px;
    right: -125px;
    bottom: -25px;
    font-family: muli;
    font-style: italic;
    color:white;
  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }

  li a{
    color: #da4850;
    text-decoration: none;
    letter-spacing: 5px;
    word-spacing: 50px;
    font-family: Muli;
    letter-spacing: 1px;
}

img{
    position: relative;
    right: -1370px;
    bottom: 570px;
}

.name{
    position: relative;
    text-align: center;
    top: 30px;
    left: 650px;
    font-family: Muli;
    font-size: 20px;
    font-style: italic;
    color:white;
}

